VITE_SUPABASE_URL=https://nuiktdwusmcpvqofjhtd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51aWt0ZHd1c21jcHZxb2ZqaHRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NDIwNzYsImV4cCI6MjEwNDQxODA3Nn0.7hvHT9bZOQyqnmHJsHAb0XN9sdjGW3Y-YSdO527QEcQ